*{
  background-color: rgb(1,31,63);
  border: 0px;
  margin: 0px;
}
.page{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: solid yellow 1px;

}

.g-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 350px;
  height: 350px;
  gap: 10px;
}

.box{
  width: 150px;
  height: 150px;
  border: solid 10px black;
  border-radius: 25px;
}

.box-green{
  background-color: green;
}
.box-red{
  background-color: red;
}
.box-yellow{
  background-color: yellow;
}
.box-blue{
  background-color: blue;
}

.box-click{
  box-shadow: rgb(255, 255, 255) 0px 0px 50px -12px;
  background-color: rgb(139, 218, 255);
  opacity: 0.5;
}
